header {
    font-size: 1.5em;
    background: #444;
    padding: 15px;
    color: #fff;
}

.dir-input {
    width: 300px;
}

#inputs {
    margin: 10px 0;
}

#test-map {
    display: block;
    width: 70%;
    height: 300px;
}

