html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

header {
    z-index: 1;
}

input {
    border: 1px solid #ddd;
    border-radius: 0;
}

.dir-input {
    width: 300px;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

/* ----------- init view ----------- */

header.header-init {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 15px;
    font-size: 3em;
    text-align: center;
    z-index: 101;
}

.input-init {
    position:absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;    
    background: #fff;
    z-index: 100;
}

.input-init #input-container, #submit-container {
    position: absolute; 
    top: 40%; left: 50%;
    width: 600px;
    margin-left: -300px;
    padding: 10px 0;
    text-align: center;
}

.input-init #submit-container {
    top: 63%;
    height: 20px;
}

#input-container .input-label {
    display: inline-block;
    width: 45%;
    padding: 10px;
    text-align: right;
    color: #faa;
}

#input-container .input-label:first-child {
    text-align: left;
}

.input-init #submit-container button {
    background: #ddd;
    padding: 5px 10px;
    border: none;
    border-radius: none;
    font-weight: bold;
}

/* ----------- post-init view ----------- */

header.header-post-init {
    position: fixed;
    top: 0; left: 0;
    width: 50px;
    padding: 9px;
    font-size: 1.5em;
    z-index: 2;
}

.input-after-init {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    z-index: 1;
}

.input-after-init #input-container {
    position: absolute;
    top: 0; left: 50px;
    padding: 5px;
    width: 500px;
}

.input-after-init #submit-container {
    position: absolute;
    top: 0; left: 553px;
    width: 115px;
    padding: 5px;
    margin: 0;
}

#map-container {
    position: fixed;
    top: 50px; left: 0;
    display: block;
    height: 300px;
    width: 100%;
    min-width: 1100px;
    background: #fff;
    z-index: 1;
}

#test-map {
    display: inline-block;
    width: 80%;
    height: 300px;
}

#map-legend {
    display: inline-block;
    width: 15%;
    height: 100%;
    padding: 20px;
    vertical-align: top;
}

.legend-label {
    width: 100%;
}

.legend-color {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.input-after-init #submit-container button {
    background: #ddd;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: none;
    font-weight: bold;
}

/* ----------- both views ----------- */

#input-container input {
    width: 44%;
    padding: 10px;
}

#settings-header {
    text-align: center;
    font-weight: bold;
}

#settings-button {
    display: block;
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    border: none;
    border-radius: none;
    background: #ddd;
    font-weight: bold;
    z-index: 101;
}

#settings-popover {
    display: block;
    position: fixed;
    top: 100px;
    left: 50%;
    width: 325px;
    margin-left: -160px;
    padding: 20px;
    background: #fff;
    font-size: 0.8em;
    color: #000;
    z-index: 103;
}

#settings-popover-scrim {
    position: fixed;
    top: 0; left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 102;
}

.settings-form-element {
    padding: 5px;
}

.settings-form-element-label {
    display: inline-block;
    width: 150px;
}

.settings-form-element-input {
    display: inline-block;
    text-align: center;
    width: 100px;
}

#results {
    display: inline-block;
    width: 100%; height: 50%;
}

#results-headers {
    position: fixed;
    top: 350px; left: 0;
    display: block;
    /* display: none; */
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    background: #fff;
    z-index: 1;
}

#results-headers>div {
    display: inline-block;
    height: 30px;
    font-size: 1.5em;
}

#chosen-route {
    position: fixed;
    top: 425px; left: 150px;
    display: block;
    height: 300px;
    width: 70%;
    min-width: 450px;
    padding-left: 20px;
}

#all-routes {
    position: absolute;
    top: 0; left: 0;
    padding: 425px 25px 0 25px;
    z-index: 0;
}

.result-preview {
    display: block;
    padding: 20px; 
    border: none;
    background: none;
    text-align: left;
    font-size: 2em;
}

.result-preview-active {
    border-right: solid 1px #aaa;
}

/* loader */
.loading-overlay {
    display: block;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
    z-index: 200;
}

.load-container {
    display: block;
    position: absolute;
    top: 200px; left: 50%;
    height: 300px;
    width: 300px;
    margin-left: -150px;
    /* border: 1px solid #000; */
    /* border-radius: 5px; */
    /* background: rgba(255,255,255,0.5);     */
}

.load-msg {
    position: fixed;
    top: 150px; left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #fff;
    z-index: 201
}

.loading-overlay .spinner {
    position: absolute;
    top: 0; left: 50%;
    width: 1em;
    height: 1em;
    margin-left: -55px;
    padding: 0;
    border-radius: 50%;
    border: .01em solid rgba(150,150,150,0.3); 
    list-style: none;
    font-size: 100px; 
    z-index: 201;
}

.loading-overlay .spinner li {
    position: absolute;
    border-radius: 50%;
    width: .2em;
    height: .2em;
}

.loading-overlay .spinner li:nth-child(1) {
    background: #00C176; /* Blue */
    top: 0;
    left: 50%;
    margin-left: -.1em; /* Width/2 */
    transform-origin: 50% 250%;
    animation: 
    rota 1.13s linear infinite,
    opa 3.67s ease-in-out infinite alternate;
}

.loading-overlay .spinner li:nth-child(2) {
    background: #FF003C; /* Red */
    top: 50%; 
    right: 0;
    margin-top: -.1em; /* Height/2 */
    transform-origin: -150% 50%;
    animation: 
    rota 1.86s linear infinite,
    opa 4.29s ease-in-out infinite alternate;
}

.loading-overlay .spinner li:nth-child(3) {
    background: #FABE28; /* Yellow */
    bottom: 0;
    left: 50%; 
    margin-left: -.1em; /* Width/2 */
    transform-origin: 50% -150%;
    animation: 
    rota 1.45s linear infinite,
    opa 5.12s ease-in-out infinite alternate;
}

@keyframes rota {
    to { transform: rotate(360deg); }
}

@keyframes opa {
    12.0% { opacity: 0.80em; }
    19.5% { opacity: 0.88em; }
    37.2% { opacity: 0.64em; }
    40.5% { opacity: 0.52em; }
    52.7% { opacity: 0.69em; }
    60.2% { opacity: 0.60em; }
    66.6% { opacity: 0.52em; }
    70.0% { opacity: 0.63em; }
    79.9% { opacity: 0.60em; }
    84.2% { opacity: 0.75em; }
    91.0% { opacity: 0.87em; }
}