html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

header {
    z-index: 1;
}

input {
    border: 1px solid #ddd;
    border-radius: 0;
}

.dir-input {
    width: 300px;
}

/* ----------- init view ----------- */

header.header-init {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 15px;
    font-size: 3em;
    text-align: center;
}

.input-init {
    position:absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;    
    background: #fff;
}

.input-init #input-container, #submit-container {
    position: absolute; 
    top: 40%; left: 50%;
    width: 600px;
    margin-left: -300px;
    padding: 10px 0;
    text-align: center;
}

.input-init #submit-container {
    top: 63%;
    height: 20px;
}

#input-container .input-label {
    display: inline-block;
    width: 45%;
    padding: 10px;
    text-align: right;
    color: #faa;
}

#input-container .input-label:first-child {
    text-align: left;
}

.input-init #submit-container button {
    background: #ddd;
    padding: 5px 10px;
    border: none;
    border-radius: none;
    font-weight: bold;
}

/* ----------- post-init view ----------- */

header.header-post-init {
    position: fixed;
    top: 0; left: 0;
    width: 50px;
    padding: 9px;
    font-size: 1.5em;
}

.input-after-init {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
}

.input-after-init #input-container {
    position: absolute;
    top: 0; left: 50px;
    padding: 5px;
    width: 500px;
}

.input-after-init #submit-container {
    position: absolute;
    top: 0; left: 553px;
    width: 115px;
    padding: 5px;
    margin: 0;
}

#test-map {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    height: 300px;
    z-index: -1;
}

#instructions-container {
    display: block;
    width: 50%;
}

.input-after-init #submit-container button {
    background: #ddd;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: none;
    font-weight: bold;
}

/* ----------- both views ----------- */

#input-container input {
    width: 45%;
    padding: 10px;
}

#settings-header {
    text-align: center;
    font-weight: bold;
}

#settings-button {
    display: block;
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    border: none;
    border-radius: none;
    background: #ddd;
    font-weight: bold;
    z-index: 3;
}

#settings-popover {
    display: block;
    position: fixed;
    top: 100px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    padding: 20px;
    background: #fff;
    font-size: 0.8em;
    color: #000;
    z-index: 4;
}

#settings-popover-scrim {
    position: fixed;
    top: 0; left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

.settings-form-element {
    padding: 5px;
}

.settings-form-element-label {
    display: inline-block;
    width: 125px;
}

.settings-form-element-input {
    display: inline-block;
    text-align: center;
    width: 160px;
}
