<header ng-class="{'header-init': vm.initview,
                   'header-post-init': !vm.initview}">
  <div ng-show="vm.initview" class="title">fast blue train</div>
  <div ng-show="!vm.initview" class="title">fbt</div>
</header>
<section ng-class="{'input-init': vm.initview,
                    'input-after-init': !vm.initview}">
  <div id="input-container">
    <div ng-show="vm.initview" class="input-label">
      start
    </div>
    <div ng-show="vm.initview" class="input-label">
      end
    </div>
    <input class="dir-input" id="startLocationInput" 
           placeholder="" type="text" />
    <input class="dir-input" id="endLocationInput" 
           placeholder="" type="text" />
  </div>
  <div id="submit-container">
    <button id="direction-submit">Get Directions</button>
  </div>
</section>
