<section id="map-container">
  <div id="map-legend">
    <div class="legend-label">
      walking
    </div>
    <div class="legend-color" style="background: #C44D58">
    </div>
    <div class="legend-label">
      driving
    </div>
    <div class="legend-color" style="background: #FF6B6B">
    </div>
    <div class="legend-label">
      public transit
    </div>
    <div class="legend-color" style="background: #556270">
    </div>
    <div class="legend-label">
      bicycling
    </div>
    <div class="legend-color" style="background: #4ECDC4">
    </div>
    <div class="legend-label">
      uber
    </div>
    <div class="legend-color" style="background: #C7F464">
    </div>
  </div>
  <div id="test-map">
  </div>
</section>
