<button id="settings-button" 
        ng-click="vm.popoverVisible = !vm.popoverVisible">
  Settings
</button>
<div class="popover" ng-show="vm.popoverVisible">
  <div id="settings-header">User Settings</div>
  <div class="settings-form-element">
    <div class="settings-form-element-label">
      Location of car:
    </div>
    <div class="settings-form-element-input">
      <input type="text" id="carLocationInput" />
    </div>
  </div>
  <div class="settings-form-element">
    <div class="settings-form-element-label">
      Location of bike:
    </div>
    <div class="settings-form-element-input">
      <input type="text" id="bikeLocationInput"/>
    </div>
  </div>

  <div class="settings-form-element">
    <div class="settings-form-element-label">
      Car MPG:
    </div>
    <div class="settings-form-element-input">
      <input type="number" placeholder="20"
             ng-model="vm.user.carMPG"
             ng-change="vm.setPreference('carMPG', vm.user.carMPG)" />
    </div>
  </div>
  <div class="settings-form-element">
    <div class="settings-form-element-label">
      Budget for trip:
    </div>
    <div class="settings-form-element-input">
      <span id="settings-input-label">$</span>
      <input type="number" placeholder="0.00"
             id="budget-input"
             ng-model="vm.user.budget"
             ng-change="vm.setPreference('budget', vm.user.budget)" />
    </div>
  </div>
  <div class="settings-form-element">
    <div class="settings-form-element-label">
      I have a transpass:
    </div>
    <div class="settings-form-element-input">
      <input type="checkbox" ng-model="vm.user.transPass"
             ng-change="vm.setPreference('transPass', vm.user.transPass)"/>
    </div>
  </div>
</div>
<div class="popover-scrim" ng-show="vm.popoverVisible"
     ng-click="vm.popoverVisible = !vm.popoverVisible"></div>
